body {
  background-color: #B0D7FF;
}

/* Navigation */

.navStyle {
  background-color: #2D3142;
  font-size: 20px;
  color: #EAE8FF;
}

/* Main container */

.mainContainer {
  position: relative;
  height: auto;
}


/* Footer */

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  text-align: center;
}

.footerItem {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2D3142;
  font-size: 15px;
  color: #EAE8FF;
}