/* Global Body Style */

body {
  background-color: #B0D7FF;
  font-family: 'Nanum Gothic', sans-serif;
}

/* Gloabal Navigation */

.navStyle {
  background-color: #2D3142;
  font-size: 20px;
  color: #EAE8FF;
}

.nav-link:hover {
  color: blue;
}

/* .nav-link:visited {
  color: red !important;
} */

/* Footer */

.footerDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

footer {
  bottom: 0;
  background-color: #2D3142;
  color: #EAE8FF;
  width: 100%;
  font-size: 15px;
  height: 35px;
  text-align: center;
  margin-top: 15px;
}

/* Column Items*/

.colItem {
  margin: 50px;
  background-color: #EAE8FF;
  border: solid;
  border-style: double;
  border-width: 10px;
  border-color: #2D3142;
  color: black;
}

.colItem1 {
  margin: 10px;
  padding: 15px;
  background-color: #EAE8FF;
  border: solid;
  border-style: double;
  border-width: 10px;
  border-color: #2D3142;
  color: black;
}

/* Image Adjustment Carousel */

.imgAdjust {
  max-height: 600px;
}

.textStyling {
  font-family: 'Nanum Gothic', sans-serif;
}